APP_NAME=Road Bike API
APP_ENV=dev
APP_HOST=127.0.0.1
APP_PORT=8000
DEBUG=true
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=Test123456
MYSQL_DATABASE=road_bike_db
MYSQL_ECHO=false
